@model AspNetIdentity2ExtendingUsersAndRoles.Models.GoodsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "goods_list",

    };
}

<div class="row">
    <div class=" col-md-10">

        <div id="goods_list" style="margin-left:80px;">
            @Html.Action("GetGoodsList")
        </div>

        <div id="pagelinks">
            @Ajax.PageLinks(Model.Pages, x => Url.Action("GetGoodsList", new { id = x }), "goods_list")
        </div>
        <
    </div>

    <div class="col-md-2">
        <div style="margin-left:50px;">
            @{    Html.RenderAction("Menu", "Nav");  }
        </div>
    </div>

</div>


