
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h2>Admin panel</h2>
    <h5>
        @Html.DropDownList("PagesOn", new SelectListItem[]
   { new SelectListItem {Text = "5", Value="5" },
   new SelectListItem {Text = "10", Value="10" },
   new SelectListItem {Text = "20", Value="20" },
   new SelectListItem {Text = "50", Value="50" },
   }, new { @class = "custom-select" })
    </h5>
</center>

<center>
    <div id="goods_list" style="margin-left:50px;">
        @Html.Action("GetTable")

    </div>

</center>

<script>
    $('#PagesOn').on('change', function () {
        var url = "/Admin/GetTable";
        var n = $(this).val();
        $.get(url, { g: n }).done(function (data) {
            $('#goods_list').html(data);
        });
    })
</script>

